body {
  color: green;
}

h1 {
  color: blueviolet;
  font-family: monospace;
  size: ;
}
h2 {
  color: red;
  font-family:monospace;
}
.mover {
  color: black;
  font-family: monospace;
  width: max-content;
  border-color: black;
  border-radius: 100px;
}